[Unit]
Description=Auto Git Push Service for DomainTest
After=network.target

[Service]
Type=simple
User=ribiki
WorkingDirectory=/home/ribiki/  DomainTest
ExecStart=/usr/bin/python3 /home/ribiki/  DomainTest/auto_git_push.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
